# Python virtual environment
transport/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Environment variables / secrets
.env

# Streamlit
.streamlit/secrets.toml

data/ruter_realtime.csv

t.ipynb